<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="/public/main.css" rel="stylesheet">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <%- include('nav.html') %>

  <h3 class="ml-2 my-3 text-center">To Do List</h3>
  <div class="container">
    <ul class="list-group">
      <% for (let i=0; i < posts.length; i++) { %>
        <li class="list-group-item">
          <p>text number : <%= posts[i]._id %>
          </p>
          <h4>title : <%= posts[i].title %>
          </h4>
          <p>to do deadline : <%= posts[i].date %>
          </p>
          <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">delete</button>
          </li>
      <% } %>
    </ul>
  </div>

  <script>
    $('.delete').click(function (e) {
      var text_number = e.target.dataset.id;
      var curr_push = $(this);
      $.ajax({
        method: 'DELETE',
        url: '/delete',
        data: { _id: text_number }
      }).done(function (res) {
        console.log('complete!');
        curr_push.parent('li').fadeOut();
      }).fail((xhr, textStatus, errorThrown) => {
        console.log(xhr, textStatus, errorThrown);
      });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>